[Unit]
Description=Waydroid User Session
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waydroid session start
ExecStop=/usr/bin/waydroid session stop
Restart=on-failure

[Install]
WantedBy=default.target